.geral h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #404040;
    font-size: 1.7em;
    margin-top: 5vh;
}

.dados,
.box,
.casos,
.mortes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box {
    margin-top: 5vh;
}

.box input {
    outline: none;
    text-transform: lowercase;
    background-color: #fff;
    color: #348C1C;
    border: solid 1px #8C8C8C;
    width: 50px;
    height: 7vh;
    font-size: 1.3em;
    text-align: center;
    border-radius: 3px;
}

.box h3 {
    color: #404040;
    padding-bottom: 10px;
}

.estados {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #348C1C;
    box-shadow: 3px 3px 10px #5e7957;
    width: 300px;
    height: 8vh;
    font-size: .8em;
    padding-left: 1vw;
    margin-top: 5vh;
    border-radius: 7px;
}

.estados h3, p {
    padding-left: 8px;
}

.casos {
    background-color: #348C1C;
    box-shadow: 3px 3px 10px #5e7957;
    color: #FFFFFF;
    width: 300px;
    height: 30vh;
    margin-top: 5vh;
    border-radius: 7px;
}

.casos p, h3 {
    padding-top: 10px;
}

.casos h3 {
    color: #B6F235;
}

.estados:hover,
.casos:hover {
    background-color: #FFFFFF;
    border: solid 1px #348C1C;
    transition: ease-in-out .5s;
    color: #24A61F;
    box-shadow: none;
    cursor: pointer;
}

.casos:hover h3 {
    color: #348C1C;
}

.mortes {
    background-color: #CD1224;
    box-shadow: 3px 3px 10px #a05e65;
    color: #FFFFFF;
    width: 300px;
    height: 15vh;
    font-size: 1.2em;
    margin-top: 5vh;
    border-radius: 7px;
}

.mortes h3 {
    color: #FFFFFF;
    padding-bottom:5px;
}

.mortes:hover {
    transition: ease-in-out .5s;
    box-shadow: none;
    cursor: pointer;
    background-color: #FFFFFF;
    border: solid 1px #CD1224;
    color: #E43A4A;
}

.mortes:hover h3 {
    color: #CD1224;
}

@media (max-width: 425px) {
    .geral h1 {
        font-size: 1.2em;
    }
}